# Branching Using Conditionals and Loops

 Branching is the ability to make decisions and execute a different set of statements based on whether one or more conditions are true.
 
 Brsnching is done using an if statement
 
 ## If statement format
 
 if condition:
     statement1
     statement2
     
  The condition can either be a variable or an expression.
  
  If the condition evaluates to true then the statements within the if block are executed.

In [1]:
# Example:

a_number = 8

if a_number % 2 == 0:
    print('We\'re inside an if block')
    print('The given number {} is even.'.format(a_number))

We're inside an if block
The given number 8 is even.

In [2]:
# Another example. This time nothing will be printed because the condition is not true

a_number = 33

if a_number % 2 == 0:
    print(' This is supposed to be an odd number, what happened?')

Nothing happened in the code above, the condition was not met. So, nothing was executed.

When you want another code to become executed when the condition for the if statement is not met, you include the (else) statement.

## else statement.

### Format of the else statement.

else:
    statement to be executed if the condition of the if statement is not met.

In [5]:
# let's see what happens to the code above when we include else.

a_number = 33

if a_number % 2 == 0:
    print(' This is supposed to be an odd number, what happened?')
    
else:
    print('{}, is an odd number any way.'.format(a_number))

33, is an odd number any way.

# The elif statement

elif is short for else if. It is used to chain a series of conditional blocks. The conditions are executed one by one.

For the first condition that evaluates to True the statements in the respective block are executed, and the remaining conditions are not evaluated.

In [14]:
# Example

liverpool_captain = 'Henderson'

if liverpool_captain == 'TAA':
    print('oh la la, go go Trent, the best RB in the world')
    
elif liverpool_captain == 'Robertson':
    print('Come on you Scotsman')

elif liverpool_captain == 'Van Dijk':
    print('Hello big man')

elif liverpool_captain == 'Henderson':
    print('Here you go Hendo, Gerrards successor, wonderful human')
    
elif liverpool_captain == 'Milner':
    print('He never get\'s old, Milner, does he?')
    
elif liverpool_captain == 'Salah':
    print('Hail the Egyptian King')

Here you go Hendo, Gerrards successor, wonderful human

# Using if, elif, and else conditions together.

You can use an else statement at the end of a chain of if, elif statements.

The else code block will be executed when none  of the conditions for the if and else statmenents are true.

In [15]:
# Example:

a_number = 49

if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
    
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3, and 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3, and 5

# Including Logical operators, And, Or, and Not as a condition for statements.

You can include logical operators as conditions to be met before a statement executes in python branching.

In [16]:
# Example:

a_number = 12

if a_number % 3 == 0 and a_number % 5 == 0:
    print('The number {} is divisible by 3 and 5'.format(a_number))
elif not a_number % 5 == 0:
    print('The number {} is not divisible by 5'.format(a_number))

The number 12 is not divisible by 5

# There are also Non-Boolean Conditions.

Conditions can be of any data type, and must not necessarily be boolean.

Falsy booleans are always evaluated to False.

Every conditional type is automatically converted to Boolean before execution. 

Below are some examples:

In [17]:
# Examples:

# This is an empty string, and will evaluate to False

if '':
    print('The condition evaluated to True')
    
else:
    print('The condition evaluated to False')

The condition evaluated to False

In [18]:
# This is a string and will evaluate to True

if 'Hello':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [19]:
# This dictionary is not empty and will evaluate to True

{'a': 34}:
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [20]:
# None is falsy and will evaluate to False
if None:
    print('The conditon evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to False

# Nested if statements

You can put another if statement as a code block within another if statement.

However you must use indentation properly to make this work.

Here are some examples:

In [21]:
a_number = 15

if a_number % 2 == 0:
    print(' {} is even'.format(a_number))
    if a_number % 3 == 0:
        print('{} is also divisible by 3'.format(a_number))
    else:
        print('{} is not divisible by 3'.format(a_number) )
        
else:
    print('{} is odd'.format(a_number))
    if a_number % 5 == 0:
        print('{} is also divisible by 5'.format(a_number))
    else:
        print('{} is not divisible by 5'.format(a_number))

15 is odd
15 is also divisible by 5

# Shorthand if statement, Conditional Expressions, Ternary Operators.

You can use the if statement to test if a condition is true, and then set the value of a variable based on that condition.

Here are some examples.

In [22]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity ='odd'
    
print('The Number {} is {}'.format(a_number, parity))

The Number 13 is odd

# iteration with WHILE LOOPS

While and for loops gives you the ability to run one or more statements multiple times. This is also known as iteration or looping.

## While loop format

while condition:
    statement(s)

The statements in the block under while are executed repeatedly as long as the condition remains True.

If you there's a change in variable that causes the condition to become False, then the while loop will end.

In [38]:
# Find the factorial of 100 using a while loop.

result = 1

i = 1

while i <= 100:
    result = result * i
    i = i+1
    
print('The factorial of 100 is {}'.format(result))

The factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [53]:
# lets print shapes with while loops.

shape_block = '$'
i = 1

while i <= 10:
    shape_block = '$'*i
    i += 1
    print(shape_block)
    
while i > 0:
    shape_block = '$'*i
    print(shape_block)
    i = i-1

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$
$$$$$$$$
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$
$

In [49]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += '*'
    
while len(line) > 0:
    print(line)
    line = line[: -1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [61]:
line = '*'

max_length = 10

while len(line) <= 10:
    print(line)
    line += '*'

*
**
***
****
*****
******
*******
********
*********
**********

# Break and Continue in Python

The break statement is used to stop the execution of a code in a loop and break out of the loop, even if the condition provided for the while loop is still True.

In [65]:
# Example:

i = 1
result = 1

while i <= 100:
    result *= 1
    if i == 42:
        print('Magic number 42 reached! Stopping execution...!')
        break
    i += 1

print('i:', i)
print('result:' , result)

Magic number 42 reached! Stopping execution...!
i: 42
result: 1

# Continue Statement

The continue statement is used if you want to skip some statements in a loop and then continue from another loop.

In [66]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

# For Loops

A for loop is used for iterating or looping over sequences like lists, tuples, dictionaries, strings, and ranges.

## For Loop Sequences

for value in sequence:
    statement(s)

The statements within the loop are executed once for each element in sequence.

In [69]:
# Example:

days = ['Monday', 'Tuesday', 'Wednesdays', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
    print(day)

Monday
Tuesday
Wednesdays
Thursday
Friday
Saturday
Sunday

In [74]:
mylist = []

for char in 'Monday':
    print(char)
    mylist.append(char)
    
print(mylist)

M
o
n
d
a
y
['M', 'o', 'n', 'd', 'a', 'y']

In [77]:
# looping over a dictionary using the for loop

person = { 'name':'Dominic', 
          'age': 29, 
          'career': 'Data Scientist',
          'married': 'False'
         }
for key in person:
    
    print('Key:', key, "," 'Value:', person[key])

Key: name ,Value: Dominic
Key: age ,Value: 29
Key: career ,Value: Data Scientist
Key: married ,Value: False

In [78]:
# Using the values method to iterate over a dictionary

for value in person.values():
    print(value)

Dominic
29
Data Scientist
False

In [79]:
#Using the keys method to iterate through a dictionary

for key in person.keys():
    print(key)

name
age
career
married

In [80]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'Dominic')
('age', 29)
('career', 'Data Scientist')
('married', 'False')

# Iterating using Range and Enumerate

Range() function is used to create a sequence of numbers that can be iterated over using the for loop.

It can be used in 3 ways:

1. range(n) - This creates a sequence of numbers from 0 to n-1
2. range(a,b) - This creates a sequence of numbers from a to b-1
3. range(a, b, step) - This creates a sequence of numbers from a to b-1 with increments of step.

In [81]:
# Examples 1

for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [83]:
# Example 2, uses a start and end index

for i in range(3, 15):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14

In [86]:
# Example 3. Includes a stepping factor to the index.

for j in range(2, 20, 2):
    print(j)

2
4
6
8
10
12
14
16
18

### Ranges are used to iterate over lists especially when you need to track the index of elements while iterating.

In [88]:
# Example

a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}'.format(i, a_list[i]))

The value at position 0 is Monday
The value at position 1 is Tuesday
The value at position 2 is Wednesday
The value at position 3 is Thursday
The value at position 4 is Friday

In [93]:
# Using enumerate function to achieve same result as above. 

for i, val in enumerate(a_list):
    print (' The value at position {} is {}'.format(i, val))

 The value at position 0 is Monday
 The value at position 1 is Tuesday
 The value at position 2 is Wednesday
 The value at position 3 is Thursday
 The value at position 4 is Friday

### Nested Loops

### Break and Continue in for loops