# Tuples

A tuple is an ordered collection of values, it is similar to a list in python, the major difference is that it is not possible to remove or modify the values in a tuple.

Tuple data is said to be immutable.

Tuples are very useful when you want to create a block of data that you don't want anyone to modify or play around with.

### How to Create a Tuple

To create a tuple simply enclose the elements of the tuple in a bracket ( ) with the values separated by commas.

In [3]:
my_tools = ('lenovo thinkpad', 'xiaomi smartphone', 'my curiosity', 'black ear piece', 'wireless mouse')

In [4]:
my_tools

('lenovo thinkpad',
 'xiaomi smartphone',
 'my curiosity',
 'black ear piece',
 'wireless mouse')

In [5]:
# check how many items are in a tuple

len(my_tools)

5

In [6]:
# find out if an item is in a tuple with the (in) keyword

'lenovo thinkpad' in my_tools

True

In [7]:
'samsung' in my_tools

False

In [8]:
# Try to modify a tuple

my_tools.append('macbook air 2020')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
my_tools.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [10]:
# Access the elements in a tuple using their index values

my_tools[4]

'wireless mouse'

In [11]:
my_tools[0]

'lenovo thinkpad'

In [12]:
# find out data type using the type() function

type(my_tools)

tuple

## Python converts comma separated values to tuples even without the brackets

In [13]:
# Example:

my_fav = 'coding', 'researching', 'writing', 'reading'

In [14]:
type(my_fav)

tuple

In [15]:
# A single element tuple created with a single value and a comma after it.

your_age = 50,

In [16]:
type(your_age)

tuple

## Convert a tuple into a list and vice versa with list() and tuple() functions respectively:

In [2]:
# Example 1 convert a tuple to a list with list() function

dog_breeds = ( 'rott', 'dogo', 'dobberman', 'chihuahua', 'gsd', 'st. bernard', 'great dane', 'husky')

In [3]:
dog_breeds

('rott',
 'dogo',
 'dobberman',
 'chihuahua',
 'gsd',
 'st. bernard',
 'great dane',
 'husky')

In [13]:
# Convert tuple to list

list((dog_breeds))

['rott',
 'dogo',
 'dobberman',
 'chihuahua',
 'gsd',
 'st. bernard',
 'great dane',
 'husky']

In [14]:
# convert list to tuple

fav_dog_breeds = ['golden retrievers', 'belgian malinois', 'german shepherd']

In [20]:
tuple(['golden retrievers', 'belgian malinois', 'german shepherd'])

('golden retrievers', 'belgian malinois', 'german shepherd')

In [21]:
type(fav_dog_breeds)

list

## There are Only 2 Methods for Tuples,  .count() and .index()

1. .count(value) counts how many times a value occurs in a tuple

2. .index() shows the first index of a value and shows error message if the value does not exist

In [22]:
dog_breeds

('rott',
 'dogo',
 'dobberman',
 'chihuahua',
 'gsd',
 'st. bernard',
 'great dane',
 'husky')

In [33]:
dog_breeds.index('dobberman')

2

In [34]:
dog_breeds.index('great dane')

6

# Python Dictionary

A dictionary is an unordered collection of items. Every item stored in a dictionary has a key and a vlaue.

Keys are used to retrieve their corresponding values from the dictionary. Dictionaries have the type dict.

Dictioaries are created with curly brackets {} which enclose the key:value pairs within.

Dictionaries are mostly used to stores many pieces of information in a single variable, e.g. can be the details of a person.

In [39]:
# create my first dictionary

person ={'name': 'Dominic', 
        'age': 29, 
        'sex': 'male', 
        'married': False, 
        'drives': False
         }

In [40]:
person

{'name': 'Dominic',
 'age': 29,
 'sex': 'male',
 'married': False,
 'drives': False}

In [42]:
# Another way to create a dictionary with the dict() function

person1 = dict(name = 'John', age = 30, sex = 'male', married = False, drives = False)

In [43]:
person1

{'name': 'John', 'age': 30, 'sex': 'male', 'married': False, 'drives': False}

In [44]:
type(person)

dict

In [45]:
type(person1)

dict

# How to Access The Elements in a Dictionary

Dictionaries are unordered containers and so their values cannot be access using index numbers. 

Instead you access them using the keys for any of the values you want to access.

this is the format:

dictionary_name[ key ]

In [46]:
person

{'name': 'Dominic',
 'age': 29,
 'sex': 'male',
 'married': False,
 'drives': False}

In [47]:
person['name']

'Dominic'

In [48]:
person["married"]

False

In [49]:
person['drives']

False

In [50]:
person['sex']

'male'

In [51]:
person['age']

29

In [54]:
# if the key is not available, a KeyError is returned

person['skills']

KeyError: 'skills'

# Another way to access the values in a dictionary is to use the .get() method

With the get() method, you can specify a key, and a value to be returned if the key is not found in the dictionary as arguments for the method.

In [55]:
# Example:

person.get('name', 'Unknown')

'Dominic'

In [56]:
person.get('skills', 'UNKNOWN')

'UNKNOWN'

# Use the in keyword to find out if a value exists in a dictionary

In [6]:
my_dream_car = {'name': 'lexus ES350', 'model':'2010', 'year to buy': '2023', 'budget': '4 million' }

In [7]:
my_dream_car

{'name': 'lexus ES350',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million'}

In [4]:
my_dream_car['name']

'lexus ES350'

In [5]:
my_dream_car['budget']

'4 million'

In [8]:
my_dream_car['year to buy']

'2023'

In [9]:
my_dream_car.get('model', 'does not exist')

'2010'

In [10]:
my_dream_car.get('engine nmber', 'not yet known')

'not yet known'

In [11]:
# find out if a value is in a dictionary using the (in) keyword

'name' in my_dream_car

True

In [12]:
'price' in my_dream_car

False

In [13]:
# Accessing individual values in a dictionary using their keys

my_dream_car['name']

'lexus ES350'

In [14]:
# Changing the value in a dictionary by assigning a new value to its key using (=)

my_dream_car['name'] = 'toyota venza'

In [15]:
my_dream_car

{'name': 'toyota venza',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million'}

In [16]:
# Add a New Key:Value pair to the dictionary using the assignment = operator

my_dream_car['usage'] = 'American used tokunbo'

In [17]:
my_dream_car

{'name': 'toyota venza',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million',
 'usage': 'American used tokunbo'}

In [18]:
# remove the last entry with the .pop() method

my_dream_car.pop('usage')

'American used tokunbo'

In [19]:
my_dream_car

{'name': 'toyota venza',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million'}

# Dictionary Methods for viewing the keys, values or key:value pairs

1. .keys() use to view the keys in a dictionary

2. .values() used to view the values in a dictionary

3. .items() used to view the key:value pairs in a dictionary

In [20]:
# Examples

my_dream_car

{'name': 'toyota venza',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million'}

In [21]:
my_dream_car['name'] = 'lexus es350'

In [22]:
my_dream_car

{'name': 'lexus es350',
 'model': '2010',
 'year to buy': '2023',
 'budget': '4 million'}

In [23]:
# View the keys

my_dream_car.keys()

dict_keys(['name', 'model', 'year to buy', 'budget'])

In [24]:
# View the values

my_dream_car.values()

dict_values(['lexus es350', '2010', '2023', '4 million'])

In [25]:
# View the list of items that make up the dictionary

my_dream_car.items()

dict_items([('name', 'lexus es350'), ('model', '2010'), ('year to buy', '2023'), ('budget', '4 million')])

In [26]:
my_dream_car.items()[1]

TypeError: 'dict_items' object is not subscriptable

In [30]:
# Convert an instance of the dictionary item to a list with the list() function

list(my_dream_car.items())

[('name', 'lexus es350'),
 ('model', '2010'),
 ('year to buy', '2023'),
 ('budget', '4 million')]

In [31]:
# Accessing the elements of a dictionary item using their index numbers
# After converting it into a list with the list() function

list(my_dream_car.items())[3]

('budget', '4 million')

In [32]:
list(my_dream_car.items())[0]

('name', 'lexus es350')