In [ ]:
My_Favorite_Club = "Liverpool"

print(My_Favorite_Club)

My_Favorite_Club is a variable, which is like a container for the value "Liverpool"

"Liverpool" is the value inside the variable

"=" is used to assign the value "Liverpool" to the variable My_Favorite_Club

## Variable Data types in python

Python Data Types includes

1. Integers
2. Floats
3. Strings
4. Boolean

These are also known as primitive data types

You can use float() function to convert any data type to float
You can use int() function to convert any data type to integer

Another way to reperesent floats is by using the exponential (e) for example 0.001 is equal to 1e-10

In [ ]:
type(4.52)

In [ ]:
type(7)

In [ ]:
float(7)

In [ ]:
int(4.51)

In [ ]:
type(1e-2)

Any mathematical calculation involving a float and interger values is converted to float.

In divisions, all output is converted to float, if you want the output to be an integer then you will use the double division sign (//)

In [ ]:
x = (5*3.0)

In [ ]:
print(x)

In [ ]:
type(x)

In [ ]:
z = (10/2)

In [ ]:
print(z)

In [ ]:
y =(10//2)

print(y)

Booleans represent either True or False, their type is represented by bool

In [ ]:
is_today_Monday = False

In [ ]:
is_today_Monday

In [ ]:
type(is_today_Monday)

Booleans are usually used as the return values for comparisons like (==, =>, <=, !=, etc)

In Arithmetic operations, booleans are returned as integers. 

False is returned as (0) while True is returned as (1)

In [ ]:
c = (6 + False)

d = 3. + True

print(c)

print(d)

Any value can be converted to boolean using the bool() function.

There are two types of boolean values, the falsy values which always evaluate to False, and the truthy values which are always True.

Falsy values includes:

the boolean False itself

the interger 0

the float 0.0
empty list []
empty tuple ()
empty dictiionary {}
empty set ()
empty value None
empty text ""
empty range(0)

Every other thing evaluates to True

The None Type

Used to state that a variabledoesn't have a value yet.

##Strings

Use to represent text. Every string must be surrounded by single or double quotes.

When using a single quotation within a string, you will need to scape it with the backslash (\) to avoid getting an error.

In [ ]:
# This will give an error message

my_goal = 'Get Dominic's apartment'

print(my_goal)

In [ ]:
# This is the correct one

my_goal = 'Get Dominic\'s apartment'

print(my_goal)

Strings created with single or double quotations must begin and end on the same line.

To create a multiline string, we can use ''' or """ to begin and end the string.

##len()

You can use the len() function to find out how many characters are in a given string.

In [ ]:
my_dream = """ One day, everything will click, all the efforts would not be in vain. I know that God is watching me.
He will make the efforts worth the while, so that when he will lift me up, it would be like a dream. 
Because when God lifted the captivity of Zion, we were like them that dream.
"""

In [ ]:
print(my_dream)

In [ ]:
# How many characters are there?
len(my_dream)

You can convert a string into a list with the list() function

In [ ]:
today = "Wednesday"

print(today)

In [ ]:
list(today)

You can access the individual values in a string using their index [] values

In [ ]:
# Example

tomorrow = "Thursday"

tomorrow[0]

In [ ]:
tomorrow[-1]

In [ ]:
tomorrow[5]

To access a range of values in a string you can use a start:end range to access it.

In [ ]:
# Example

fridayPlan = "GoToLafia"

In [ ]:
fridayPlan[4:9]

To check if a given string contains some text, use the (in) keyword.

In [ ]:
today = "Wednesday"

In [ ]:
"day" in today

In [ ]:
'Wed' in today

In [ ]:
# This will give false because Python differentiates between capitalizations

'wed' in today

In [ ]:
'sun' in today

In [ ]:
'nes' in today

# Concatenation of Strings

You can join different strings together otherwise known as concatenation using the + sign. You may have to add a space with the " " when concatenating to format the text string properly.

Here's an example:

In [ ]:
full_name = 'Dominic Igwebuike'

In [ ]:
greeting = 'Hello'

In [ ]:
salute = greeting + full_name

In [ ]:
salute

In [ ]:
# let's correct the lack of spacing

salute = greeting + " " + full_name + "!"

In [ ]:
salute

# String Methods

In Python, String have in-built methods that can be used to manipulate them.

## Methods:

Methods are functions associated with data types and can be accessed using the dot (.) notation.

Example: variable_name.method() or "any_string".method().

Methods are a powerful way to manipulate the values of a specific datatype.

### Examples of String Methods

1. .lower() turns a string into lowercase
2. .upper() turns a string into uppercase
3. .capitalize() turns the first character of a string into uppercase

4. .replace() replaces a part of a string with another string. It takes the part of the string to be replaced, and the part for replacing it as inputs or arguments.

When modifying strings, the original string is not affected by the new modifications.

In [2]:
today = "wednesday"

In [3]:
today.upper()

'WEDNESDAY'

In [4]:
today.lower()

'wednesday'

In [5]:
today.capitalize()

'Wednesday'

In [6]:
today.replace("wednes", "Thurs")

'Thursday'

In [7]:
# here today the original string or variable is not affected even with all the above modifications

today

'wednesday'

# More String Methods

1. .split() This can used to split a string into a list of strings

2. .strip() this is used to remove white space from the beginning and end of a string.

3. .format() This is used to combine the values of other data types( e.g. integer, float, boolean) with string values

In [12]:
"wednesday,thursday,friday, saturday, sunday".split(",")

['wednesday', 'thursday', 'friday', ' saturday', ' sunday']

In [13]:
"              blood is thicker than water       "

'              blood is thicker than water       '

In [14]:
"              blood is thicker than water       ".strip()

'blood is thicker than water'

In [30]:
# Calculate the total profit of selling ice_bag by this trader, given the below values
# Input variables
cost_of_ice_bag = 50
profit_margin = 0.2
number_of_bags = 100

#template for output message

output_template =""" If a grocery store sells ice bags at $ {} per bag, with a profit margin of {}%, then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

 If a grocery store sells ice bags at $ {} per bag, with a profit margin of {}%, then the total profit it makes by selling {} ice bags is $ {}.

In [31]:
# Inserting values into the string

total_profit = cost_of_ice_bag * profit_margin * number_of_bags

print(total_profit)

1000.0

In [32]:
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

In [34]:
print(output_message)

 If a grocery store sells ice bags at $ 50 per bag, with a profit margin of 20.0%, then the total profit it makes by selling 100 ice bags is $ 1000.0.

## Comparison in strings

You can compare string values to find out if they are the same.

Here are some examples:

In [36]:
name = "Dominic" # This assigns the string value "Dominic" to the variable name

name == "Joe" # this says that name is equal to "Joe" which is False

False

In [37]:
name != "Joe"

True

In [38]:
name == "Dominic"

True

# Lists in Python

List is an ordered collection of values, the values can be of different data types.

You can modify the values in a list, you can add, remove values in a list.

List has the type list

list is created using square brackets [ ] with the list values or items in-between the brackets and separated by commas.

In [1]:
fruits =['guava', 'mango', 'udara', 'utu', 'pawpaw', 'ube']

In [3]:
fruits

['guava', 'mango', 'udara', 'utu', 'pawpaw', 'ube']

In [4]:
#Use the len() function to find the number of items in a list

len(fruits)

6

In [5]:
# Every item in a list has an index number and can be accessed using that number.

# Index numbers start from 0

# Lets access the items in fruits using their index numbers

fruits[0]

'guava'

In [6]:
fruits[1]

'mango'

In [8]:
fruits[4]

'pawpaw'

In [9]:
fruits[3]

'utu'

In [10]:
# You can also use negative indexing which starts counting the items in a list from the LHS starting with -1

fruits[-1]

'ube'

In [11]:
fruits[-5]

'mango'

In [13]:
# You can access a select number of items in a list, using the index range.
# The range starts from the first index value and ends short of the last index value
# Here's an Example:

fruits[3:5]

['utu', 'pawpaw']

In [15]:
fruits

['guava', 'mango', 'udara', 'utu', 'pawpaw', 'ube']

In [17]:
fruits[1:5]

['mango', 'udara', 'utu', 'pawpaw']

## Change an item in a list and replace it with another item.

For example, change 'utu' in the list fruits and replace it with pineapple.

You will need to get the index value of utu and then assign a new  value 'pineapple' to it.

Here's how to do it.

In [18]:
fruits[3] = 'pineapple'

In [19]:
fruits

['guava', 'mango', 'udara', 'pineapple', 'pawpaw', 'ube']

# List Methods

List has a few methods that can be used to modify and manipulate it.

1. .append() this is used to add a new item to the end of a list

2. .insert() this is used to insert an item at a specified index value.

3. .remove() this is used to remove an item from a list

4. .pop() this is used to remove an item at a specified index value

Difference between .pop() and .remove() methods is that .pop() takes the index value of item as the argument and then deletes the item, while .remove() takes the item name directly.

In [41]:
# Examples

cars = ['camaro', 'spider', 'es 350 lexus', 'c300 benz', 'venza']

In [48]:
cars

['camaro',
 'spider',
 'es 350 lexus',
 'c300 benz',
 'venza',
 'G-wagon Brabus',
 'G-wagon Brabus']

In [49]:
cars.remove('G-wagon Brabus')

In [50]:
cars

['camaro', 'spider', 'es 350 lexus', 'c300 benz', 'venza', 'G-wagon Brabus']

In [51]:
cars.remove('G-wagon Brabus')

In [52]:
cars

['camaro', 'spider', 'es 350 lexus', 'c300 benz', 'venza']

In [53]:
cars.insert(2, 'my favorite now')

In [54]:
cars

['camaro', 'spider', 'my favorite now', 'es 350 lexus', 'c300 benz', 'venza']

In [55]:
cars.remove('my favorite now')

In [56]:
cars

['camaro', 'spider', 'es 350 lexus', 'c300 benz', 'venza']

In [57]:
cars.pop(3)

'c300 benz'

In [58]:
cars

['camaro', 'spider', 'es 350 lexus', 'venza']

In [59]:
# if no item is spacified for .pop() it will remove the last element in the list

# Here's an Example:

cars.pop()

'venza'

In [60]:
cars

['camaro', 'spider', 'es 350 lexus']

# Check if a List contains an element or item using the (in) keyword

In [61]:
sweetfruits = ['mango', 'white guava', 'pear', 'peach', 'udara', 'orange']

In [62]:
sweetfruits

['mango', 'white guava', 'pear', 'peach', 'udara', 'orange']

In [64]:
'avocado' in sweetfruits

False

In [65]:
'mango' in sweetfruits

True

In [66]:
'white guava' in sweetfruits

True

In [67]:
'papaya' in sweetfruits

False

# List Concatenation

You can combine two or more lists together using the (+) sign just like for strings

In [75]:
# list concatenation example

fruits_i_like = ['mango', 'pineapple', 'pear', 'apple', 'oranges', 'date']

fruits_i_want = ['coconut', 'cashew', 'ukoro', 'ube', 'oka', 'banana']

In [76]:
fruits_i_like

['mango', 'pineapple', 'pear', 'apple', 'oranges', 'date']

In [77]:
fruits_i_want

['coconut', 'cashew', 'ukoro', 'ube', 'oka', 'banana']

In [78]:
my_fruits_basket = fruits_i_like + fruits_i_want

In [79]:
my_fruits_basket

['mango',
 'pineapple',
 'pear',
 'apple',
 'oranges',
 'date',
 'coconut',
 'cashew',
 'ukoro',
 'ube',
 'oka',
 'banana']

# Create a Copy of a List with the .copy() method.

You can create a copy of a list with the .copy() method. If you modify the copied list, the original list doesn't get affected.

In [83]:
new_copy = my_fruits_basket.copy()

In [84]:
new_copy

['mango',
 'pineapple',
 'pear',
 'apple',
 'oranges',
 'date',
 'coconut',
 'cashew',
 'ukoro',
 'ube',
 'oka',
 'banana']

In [86]:
# Let's modify the list

new_copy.pop(0)

'mango'

In [87]:
new_copy

['pineapple',
 'pear',
 'apple',
 'oranges',
 'date',
 'coconut',
 'cashew',
 'ukoro',
 'ube',
 'oka',
 'banana']

In [88]:
# Original list is not affected

my_fruits_basket

['mango',
 'pineapple',
 'pear',
 'apple',
 'oranges',
 'date',
 'coconut',
 'cashew',
 'ukoro',
 'ube',
 'oka',
 'banana']